.terms {
  h2 {
    margin: 0;
    margin-bottom: 23px;
    font-size: 45px;
    font-weight: 500;
  }
  h3 {
    font-weight: 500;
  }
  .paragraph-small {
    color: #6f839c;
    font-size: 14px;
    line-height: 1.5em;
  }
  p {
    margin-bottom: 16px;
    color: #223a5a;
    font-size: 16px;
    line-height: 1.5em;
  }
}
