.navbar {
  position: sticky !important;
  top: 0;
  .menu {
    width: 22px;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    opacity: 0.5;
    cursor: pointer;
    display: none;

    img {
      width: 100%;
    }
  }
  .dashboard-nav {
    position: relative;
    z-index: 200;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 38px;
    padding: 16px 16px 16px 18px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #dfe3eb;
    background-color: #fff;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.05);
    color: #fff;

    .search {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      height: 34px;
      margin-bottom: 0px;
      border: 1px solid transparent;
      border-radius: 4px;

      &:hover {
        border-color: #f4f6fa;
      }

      &:active {
        border-color: #dfe3eb;
      }

      .search-button {
        width: 30px;
        height: 30px;
        background-color: transparent;
        background-image: url("../../../images/MagnifyingGlass2.svg");
        background-position: 50% 50%;
        background-size: 16px 16px;
        background-repeat: no-repeat;
        opacity: 0.51;
        color: transparent;
        border: none;
      }
      .search-input {
        height: 32px;
        margin-bottom: 0px;
        padding-right: 0px;
        padding-left: 2px;
        border: transparent;
        outline: none;
        background-color: transparent;
        font-size: 15px;
      }
    }

    .nav-spacer {
      height: 0px;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      background-color: transparent;
    }

    .nav-dropdown {
      margin-right: 8px;

      .nav-dropdown-toggle {
        padding: 0px;
        padding: relative;

        .nav-icon-item {
          position: relative;
          width: 20px;
          height: 20px;
          -webkit-transition: opacity 200ms ease;
          transition: opacity 200ms ease;

          &:hover {
            opacity: 0.75;
          }

          .nav-icon {
            opacity: 0.75;
            cursor: pointer;
          }

          .bell-dot {
            position: absolute;
            top: 0px;
            right: 0px;
            overflow: visible;
            width: 6px;
            height: 6px;
            border: 2px solid #fff;
            border-radius: 20px;
            background-color: #0099c2;
          }
        }
        .close-modal {
          width: 100%;
          height: calc(100vh - 75px);
          top: 0;
          left: 0;
          background-color: transparent;
          position: absolute;
        }
        .notification1 {
          color: #000;
          top: 75px;
          right: 15px;
          width: 320px;
          position: absolute;
          box-shadow: 0 0 12px 0 rgba(15, 44, 65, 0.2);
          background-color: #fff;
          padding: 22px 18px 18px;
          border-radius: 5px;
          transition: all 0.5s;

          .notification-top {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            margin-bottom: 4px;
            padding-left: 0px;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;

            .notification-dot {
              width: 8px;
              height: 8px;
              margin-right: 8px;
              border-radius: 20px;
              background-color: #0099c2;
            }
            .notificaiton-title {
              margin-top: -1px;
              margin-bottom: 0px;
              -webkit-box-flex: 1;
              -webkit-flex: 1;
              -ms-flex: 1;
              flex: 1;
              color: #0a1a25;
              font-size: 20px;
              font-weight: 500;
              transition: all 0.5s;

              &:hover {
                color: #0099c2;
              }
            }
          }
          .notification-description {
            margin: 0;
            color: #6f839c;
            font-size: 13px;
            line-height: 1.4em;
            margin-bottom: 10px;
          }
          .notification-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .clear-notification {
              border: none;
              background-color: transparent;
              color: red;
              font-weight: 600;
              font-size: 14px;
              width: fit-content;
              cursor: pointer;
              border-bottom: 1px solid white;
              transition: all 0.5s;

              &:hover {
                border-bottom: 1px solid red;
              }
              &:active {
                color: rgb(188, 3, 3);
              }
            }
          }
          .module-button {
            padding: 7px 10px;
            border-style: solid;
            border-width: 1px;
            border-color: #dfe3eb;
            border-radius: 4px;
            background-color: #fff;
            box-shadow: inset 0 -6px 12px 0 rgba(240, 244, 246, 0.6);
            -webkit-transition: box-shadow 200ms ease,
              background-color 200ms ease;
            transition: box-shadow 200ms ease, background-color 200ms ease;
            color: #0a1a25;
            font-size: 14px;
            line-height: 16px;
            font-weight: 400;
            text-align: center;
            letter-spacing: 0.4px;

            &:hover {
              background-color: #f4f6fa;
              box-shadow: inset 0 -8px 15px 0 #e7ebec;
              color: #0a1a25;
            }
          }
        }
      }
    }
    .profile-top {
      .profile-menu {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-left: 0px;
        padding: 0px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-transition: opacity 200ms ease;
        transition: opacity 200ms ease;

        .profile-image {
          display: inline-block;
          overflow: hidden;
          width: 40px;
          height: 40px;
          border-style: solid;
          border-width: 1px;
          border-color: #dfe3eb;
          border-radius: 40px;
          background-color: #dfe3eb;
          align-items: center;
          justify-content: center;

          img {
            width: 100%;
            object-fit: cover;
          }
        }
        .menu-down {
          margin-left: 5px;
          padding-bottom: 0px;
          opacity: 0.3;
          transition: all 0.5s;
          cursor: pointer;

          &:hover {
            margin-top: 10px;
          }
        }
        .active-menu {
          transform: rotate(180deg);
        }
      }
      .close-modal {
        width: 100%;
        height: calc(100vh - 75px);
        top: 0;
        left: 0;
        background-color: transparent;
        position: absolute;
      }
      .profile-menu-list {
        position: absolute;
        top: 75px;
        right: 15px;
        bottom: auto;
        z-index: 80;
        width: 200px;
        padding: 8px 0px;
        border-style: solid;
        border-width: 1px;
        border-color: #dfe3eb;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0 0 10px 0 rgba(15, 44, 65, 0.1);
        &.w--open {
          top: 47px;
          right: 0px;
        }

        a {
          display: block;
          padding: 8px 20px;
          border-left: 4px solid transparent;
          background-color: transparent;
          font-size: 14px;
          color: #222222;

          &:hover {
            background-color: #f4f6fa;
            color: #385074;
          }
        }
        .menu-divider {
          height: 1px;
          margin: 8px 15px;
          background-color: #dfe3eb;
        }
      }
    }
  }

  .hideSidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0);
  }
}

@media screen and (max-width: 1024px) {
  .navbar {
    .menu {
      display: block;
    }
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    .menu {
      display: block;
    }

    .dashboard-nav {
      .search {
        display: none;
      }
    }
  }
}
