.accountLayout {
  background-color: #f4f6fa;

  .main-content {
    position: relative;
    min-height: 85vh;
    padding: 40px;

    ._3-grid {
      position: relative;
      display: -ms-grid;
      display: grid;
      max-width: 1000px;
      margin-right: auto;
      margin-bottom: 24px;
      margin-left: auto;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      grid-auto-columns: 1fr;
      grid-column-gap: 24px;
      grid-row-gap: 24px;
      -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      -ms-grid-rows: auto;
      grid-template-rows: auto;
    }

    .container {
      width: 100%;
      max-width: 1000px;
      margin-right: auto;
      margin-left: auto;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;

      &.smaller {
        max-width: 750px;
      }
    }

    .module-main {
      &.large {
        padding: 34px 34px 16px;
      }
    }
  }
  .no-margin {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .button {
    &:hover {
      background-color: #4ac1e5;
      box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.15);
      color: #fff;
    }

    &:active {
      background-color: #4ac1e5;
      box-shadow: none;
    }
  }
  .divider {
    height: 1px;
    margin-top: 24px;
    margin-bottom: 24px;
    background-color: #dfe3eb;
  }
}

.form-error {
  padding: 12px;
  border-radius: 4px;
  background-color: #ffe6e6;
  font-size: 15px;
  display: none;
}

.form-success {
  margin-bottom: 16px;
  padding: 12px 16px;
  border-style: solid;
  border-width: 1px;
  border-color: #dfe3eb;
  border-radius: 4px;
  background-color: #fff;
  color: #6f839c;
  font-size: 15px;
  line-height: 16px;
  display: none;
}

.field-block {
  z-index: 1;
  min-height: 20px;
  min-width: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 1px solid transparent;
  width: 100%;
}

form {
  .field-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 12px;

    label {
      margin-bottom: 5px;
      color: #6f839c;
      font-size: 15px;
      font-weight: 400;
      text-align: left;
    }
    .input-filed,
    .text-area-input {
      border: 1px solid #dde2e7;
      border-radius: 5px;
      box-shadow: 0 0 10px 0 rgb(0 0 0 / 1%);
      font-size: 14px;
      padding: 10px;
      background-color: transparent;
      &:focus {
        outline: 1px solid blue;
      }
      &::-webkit-input-placeholder {
        color: #c1cbd5;
      }

      &:-ms-input-placeholder {
        color: #c1cbd5;
      }

      &::-ms-input-placeholder {
        color: #c1cbd5;
      }

      &::placeholder {
        color: #c1cbd5;
      }
    }
    .text-area-input {
      min-height: 150px;
    }
  }
}

.page-title {
  margin: 0;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .main-content {
    padding: 24px !important;

    .large {
      padding: 24px !important;
    }
    .module-heading {
      &.large {
        padding: 0 !important;
        margin-bottom: 10px;
      }
    }
  }
}
