.module {
  margin-top: 20px;
  .module-header {
    .module-filters {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;

      .module-dropdown {
        min-width: 100px;
        margin-left: 10px;
        border-style: solid;
        border-width: 1px;
        border-color: #dfe3eb;
        border-radius: 4px;
        background-color: #fff;
        box-shadow: inset 0 -6px 12px 0 rgba(240, 244, 246, 0.6);
        -webkit-transition: all 100ms ease;
        transition: all 100ms ease;
        font-size: 14px;
        position: relative;

        &:hover {
          background-color: #f4f6fa;
          box-shadow: inset 0 -12px 15px 0 #e0e5e7,
            0 2px 8px 0 rgba(0, 0, 0, 0.03);
        }

        .dropdown-toggle {
          position: relative;
          padding: 5px 30px 5px 8px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;

          .filter-dropdown-icon {
            position: absolute;
            right: 10px;
            margin-top: 8px;
            opacity: 0.45;
            align-items: center;
            justify-content: center;

            img {
              width: 15px;
              height: 15px;
            }
          }
        }
        .filter-dropdown-3 {
          position: absolute;
          z-index: 100;
          width: 100%;
          margin-top: 5px;
          height: fit-content;
          background: #fff;
          border: 1px solid #dfe4eb;
          border-radius: 5px;

          .filter-option {
            display: block;
            padding: 15px 10px;
            color: #0099c2;
            &:hover {
              background-color: #f4f6fa;
            }
          }
        }
      }
    }
  }
}
