.dashboard-page-contents {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;

  .module {
    .module-main {
      .email-section {
        margin: 0;
        .module-heading {
          margin: 0;
          color: #0099c2;
          font-size: 15px;
        }
      }
      .email-element {
        display: block;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 0;
        padding-bottom: 15px;
        padding-left: 0px;
        border: none;
        border-bottom: 1px solid #dfe3eb;

        &.simple {
          margin-top: 0px;
          padding-top: 0px;
          border-top-style: none;
        }
        .notification-top {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          margin-bottom: 4px;
          padding-left: 0px;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;

          .notification-dot {
            width: 8px;
            height: 8px;
            margin-right: 8px;
            border-radius: 20px;
            background-color: #0099c2;
          }
          .notificaiton-title {
            margin-top: -1px;
            margin-bottom: 0px;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            color: #0a1a25;
            font-size: 18px;
            font-weight: 700;
          }

          .trash-icon {
            width: 25px;
            padding: 2px;
            height: 25px;
            background-color: red;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            margin-left: 20px;
            cursor: pointer;
            transition: all 0.5s;

            &:hover {
              background-color: rgb(192, 0, 0);
            }

            img {
              width: 60%;
            }
          }

          .email-time {
            color: #c1cbd5;
            font-size: 14px;
          }
        }
        .notification-subtitle {
          display: inline-block;
          margin: 0;
          margin-bottom: 4px;
          color: #385074;
          font-size: 16px;
        }

        .notification-description {
          margin-top: 0px;
          margin-bottom: 0px;
          color: #6f839c;
          font-size: 13px;
        }
      }
      .module-button {
        padding: 7px 10px;
        border-style: solid;
        border-width: 1px;
        border-color: #dfe3eb;
        border-radius: 4px;
        background-color: #fff;
        box-shadow: inset 0 -6px 12px 0 rgba(240, 244, 246, 0.6);
        -webkit-transition: box-shadow 200ms ease, background-color 200ms ease;
        transition: box-shadow 200ms ease, background-color 200ms ease;
        color: #0a1a25;
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        text-align: center;
        letter-spacing: 0.4px;
        cursor: pointer;
        margin-bottom: 20px;

        &:hover {
          background-color: #f4f6fa;
          box-shadow: inset 0 -12px 15px 0 #e0e5e7,
            0 2px 8px 0 rgba(0, 0, 0, 0.03);
        }
      }
    }
  }
}

.sendEmail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 111;
  align-items: center;
  justify-content: center;
  .mainContent {
    margin-top: -150px !important;
    max-width: 800px;
    margin: 24px;
    width: 100%;
  }
}
