.inscription {
  min-height: 100vh;
  background-color: #f4f6fa;
  display: flex;
  align-items: center;
  justify-content: center;
  .sign-up-form {
    display: flex;
    flex-direction: column;

    label {
      color: #6f839c;
      font-size: 15px;
      display: block;
      margin-bottom: 5px;
      font-weight: 400;
      text-align: left;
    }
    .simple-input {
      border: 1px solid #dde2e7;
      border-radius: 5px;
      box-shadow: 0 0 10px 0 rgb(0 0 0 / 1%);
      font-size: 14px;
      padding: 10px;
      background-color: transparent;
      margin-bottom: 15px;
      height: 28px;
      &:focus {
        outline: 1px solid blue;
      }
      &::-webkit-input-placeholder {
        color: #c1cbd5;
      }

      &:-ms-input-placeholder {
        color: #c1cbd5;
      }

      &::-ms-input-placeholder {
        color: #c1cbd5;
      }

      &::placeholder {
        color: #c1cbd5;
      }
    }
  }
  .paragraph-small {
    color: #c1cbd5 !important;
    font-size: 14px !important;
    line-height: 1.5em;
    font-weight: 500;
    a {
      color: #c1cbd5;
    }
  }
}

@media screen and (max-width: 768px) {
  .inscription {
    background-color: #fff;
    display: block;
    padding: 50px 0;

    img {
      width: 100%;
    }

    .center-card-container {
      padding: 10px;
      .center-card {
        width: 100%;
        padding: 0;
        box-shadow: 0 0px 0px 0 rgb(0 0 0 / 10%) !important;
      }
    }
  }
}
